# Comments are allowed
# The case of the key does not matter. Comparisons internally are done with everything
# converted to lowercase.
# Values though are not touched.

Host=localhost
Port=5432
User=neom
Password=neom11

ServerHostIP=0.0.0.0
ServerHostPort=8080
